<div class="dashboard">

  <div class="dashboard-header">
    <div>
      <h2>Admin</h2>
      <p class="role">Role: {{role}}</p>
      <p><span class="welcome">Welcome, </span>Admin</p>
      <p class="admin-gmail">admin@gmail.com</p>
    </div>
    <button class="goback-btn" (click)="Back()">
      Back to Dashboard
    </button>
  </div>

  <h1>User Analytics</h1>
  
  <div class="Piechart-section">
    <h2 class="section-title">Pie Chart</h2>
    <div class="chart-container">
      <canvas id="pieChart"></canvas>
    </div>
  </div>

  <h2 class="section-title">Message Analytics</h2>
  <div class="chart-container">
    <canvas id="messageChart"></canvas>
  </div>

  <div class="message-history">
    <h2 class="section-title">Message History</h2>
    <p>Total Messages: {{messages.length}}</p>
    
    <div *ngIf="!messages || messages.length === 0" class="info-box">
      No messages found
    </div>

    <div class="table-container" *ngIf="messages && messages.length > 0">
      <table class="msg-table">
        <thead>
          <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Message</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let msg of messages">
            <td>{{msg.senderEmail}}</td>
            <td>{{msg.receiverEmail}}</td>
            <td>{{msg.text}}</td>
            <td>{{msg.formattedTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="user-details">
    <h2 class="section-title">All Users</h2>
    
    <div *ngIf="!users || users.length === 0" class="info-box">
      No users found
    </div>
    
    <div class="table-container" *ngIf="users && users.length > 0">
      <table class="msg-table" id="userTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="pdf-btn" (click)="printPDF()" style="margin-bottom: 10px; padding: 8px 12px; background-color: #17a2b8; color: white; border: none; border-radius: 4px; cursor: pointer;">
    Download Users PDF
  </button>

</div>