<div *ngIf="showError" class="error-popup">
  {{ errorMsg }}
</div>
<div class="success-popup" *ngIf="showSuccess">Login successful!</div>
<div class="login-container">

  <div class="login-card">
    <h2>Log in account</h2>

    <input [(ngModel)]="loginData.email" placeholder="Email">
    <input [(ngModel)]="loginData.password" type="password" placeholder="Password">

    <select [(ngModel)]="loginData.role">
      <option value="User">Login as User</option>
      <option value="Admin">Login as Admin</option>
    </select>

    <button (click)="login()">Login</button>
    <p class="switch">
      Don't have an account?
      <span (click)="router.navigate(['/signup'])">Sign up</span>
    </p>
  </div>
</div>