<div class="dashboard">

  <!-- Header -->
  <div class="dashboard-header">
    <div>
      <h2>User Dashboard</h2>
      <p class="role">Role: User</p>
      <p ><span class="welcome">Welcome, </span>{{user?.name}}!</p>
    </div>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </div>
  <div class="notice-board">

    <h2 class="section-title">Notice Board</h2>

    <div *ngIf="broadcastMessages.length === 0" class="info-box">
      No announcements yet
    </div>

    <div *ngFor="let msg of broadcastMessages" class="announcement-msg">
      <p>{{msg.text.toUpperCase()}}</p>
      <p class="msg-time">{{msg.createdAt | date:'short'}}</p>
    </div>

  </div>

  <!-- USER INFO -->
  <div class="user-section">

    <h2 class="section-title">Your Profile</h2>

    <div *ngIf="loading" class="info-box">
      Loading your data...
    </div>

    <div *ngIf="!loading && user" class="user-card">

      <div class="user-header">
        <h4>{{user.name.toUpperCase()}}</h4>

        <span class="status approved">
          {{user.status?.toUpperCase()}}
        </span>
      </div>

      <div class="user-details">
        <p><b>Email:</b> {{user.email}}</p>
        <p><b>Role:</b> {{user.role}}</p>
      </div>

    </div>

  </div>
  <div class="admin-user">
    <h2 class="section-title">Admin User</h2>

    <div class="user-card">

      <div class="user-header">
        <h4>ADMIN</h4>
      </div>

      <div class="user-details">
        <p><b>Email:</b> admin@gmail.com</p>
      </div>

      <!-- 🔥 UNREAD MESSAGE -->
      <div *ngIf="unreadAdminMessage" class="unread-box">
        You have a new message from Admin
        <button (click)="messageUser(admin)">Tap to read</button>
      </div>

      <div class="actions">
        <button class="msg-btn" (click)="messageUser(admin)">
          Message
        </button>
      </div>

    </div>
  </div>
  <!-- OTHER USERS -->
  <div class="other-users-section">

    <h2 class="section-title">Other Users</h2>

    <div *ngIf="users.length === 0" class="info-box">
      No users available
    </div>

    <div class="user-list">

      <div *ngFor="let u of users" class="user-card">

        <div class="user-header">
          <h4>{{u.name.toUpperCase()}}</h4>
          <i class="fa-solid fa-circle-user"></i>
        </div>

        <div class="user-details">
          <p><b>Email:</b> {{u.email}}</p>
          <p><b>Role:</b> {{u.role}}</p>
        </div>

        <div class="actions">
          <button class="msg-btn" (click)="messageUser(u)">
            Message
          </button>
        </div>

      </div>

    </div>

  </div>

</div>