<div class="dashboard">

  <div class="dashboard-header">
    <div>
      <h2>Chat</h2>
      <p class="role"><span class="chat-username">{{chatUserName.toUpperCase()}}</span></p>
    </div>

    <button class="logout-btn" (click)="closeChat()">
      Back
    </button>
  </div>

  <div class="admin-section">
    <!-- MULTI USER SELECT -->
    <div *ngIf="isBroadcastMode" class="multi-user-box">

      <h3>Select Users</h3>

      <div class="user-select-list">

        <label *ngFor="let u of allUsers" class="user-option">

          <input
            type="checkbox"
            [value]="u.email"
            (change)="
              $event.target.checked
                ? selectedUsers.push(u.email)
                : selectedUsers = selectedUsers.filter(x => x !== u.email)
            "
          />

          {{u.name}} ({{u.email}})

        </label>

      </div>

    </div>
    <div class="chat-card">

      <div *ngIf="messages.length === 0" class="empty">
        No messages yet
      </div>

      <div *ngFor="let msg of messages"
           [ngClass]="{
             'message': true,
             'sent': msg.senderEmail === myEmail,
             'received': msg.senderEmail !== myEmail
           }">

          <div *ngIf="msg.multiSend" class="multi-send-info">
            <b>Sent To:</b> {{msg.receiverEmail}}
          </div>

          <div>
            {{msg.text}}
          </div>

      </div>

    </div>

  </div>

  <div class="footer">
    <div class="chat-input">
      <input
        type="text"
        [(ngModel)]="newMessage"
        placeholder="Type a message..."
      />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>

</div>