/* MAIN DASHBOARD STYLE */
.dashboard {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #134397);
  min-height: 100vh;
  padding: 20px;
}

/* HEADER */
.dashboard-header {
  margin: 0% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.role {
  color: #3b82f6;
}

/* SECTION */
.admin-section {
  margin: 1% 10%;
}

/* CHAT CARD */
.chat-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  height: 60vh;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* EMPTY */
.empty {
  text-align: center;
  color: #64748b;
}

/* MESSAGE BASE */
.message {
  max-width: 65%;
  padding: 10px 14px;
  border-radius: 12px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* SENT */
.sent {
  background: #3b82f6;
  color: white;
  margin-left: auto;
}

/* RECEIVED */
.received {
  background: #e2e8f0;
  color: #0f172a;
}

/* FOOTER */
.footer {
  margin: 2% 10%;
}

/* INPUT BOX */
.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* BUTTON */
.chat-input button {
  background: #3b82f6;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.chat-input button:hover {
  background: #2563eb;
}

/* BACK BUTTON */
.logout-btn {
  background: #ff4d4f;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.chat-username {
  color: white;
  font-size: 1.8em;
}
/* MULTI USER BOX */
.multi-user-box {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.user-select-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 180px;
  overflow-y: auto;
}

.user-option {
  display: flex;
  gap: 8px;
  align-items: center;
}