<div class="chat-container">

  <div class="chat-header">
    <button class="close-btn" (click)="closeChat()"><</button>
    <h3 class="usr-name">{{chatUser}}</h3>
    <hr>
  </div>

<div class="chat-body">

  <div *ngIf="messages.length === 0" class="empty">
    No messages yet
  </div>

  <div *ngFor="let msg of messages"
       [ngClass]="{
         'message': true,
         'sent': msg.senderEmail === myEmail,
         'received': msg.senderEmail !== myEmail
       }">

    {{msg.text}}

  </div>

</div>

  <div class="chat-footer">
    <input
      type="text"
      [(ngModel)]="newMessage"
      placeholder="Type a message..."
    />
    <button (click)="sendMessage()">Send</button>
  </div>

</div>