<div class="dashboard">

  <div class="dashboard-header">
    <div>
      <h2>Admin Dashboard</h2>
      <p class="role">Role: {{role}}</p>
      <p><span class="welcome">Welcome, </span>{{getUserName(userEmail)}}</p>
      <p class="admin-gmail">{{userEmail}}</p>
    </div>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div *ngIf="role === 'Admin'; else userView" class="admin-section">
    <div class="panel">
      <h2 class="section-title">Admin Panel</h2>
      <div class="analytical-section">
        <h2 class="analytical-header">Analytical Section</h2>
        <button class="anyl-btn" (click)="goAnalyticsSection()">See analytics</button>
      </div>
    </div>
    
    <div *ngIf="loading" class="info-box">Loading users...</div>
    
    <div class="notice-board">
      <h2 class="section-title">Notice Board</h2>
      
      <div *ngIf="messages.length === 0" class="info-box">No messages yet</div>
      
      <div class="notice-container">
        <table class="msg-table">
          <thead>
            <tr>
              <th>Incoming (User to Admin)</th>
              <th>Admin Broadcasts (To ALL)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let msg of messages">
              
              <td>
                <div *ngIf="msg.receiverEmail.toLowerCase().trim() === userEmail" class="msg-card left">
                  <p><b>From:</b> {{msg.senderName}}</p> <p>{{msg.text}}</p>
                  <span class="time">{{msg.formattedTime}}</span>
                </div>
              </td>
              
              <td>
                <div *ngIf="msg.receiverEmail.toLowerCase().trim() === 'all'" class="msg-card right">
                  <p><b>To:</b> {{msg.receiverName}}</p> <p>{{msg.text}}</p>
                  <span class="time">{{msg.formattedTime}}</span>
                </div>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <p>The User requests are listed below for your review and approval.</p>
    <div *ngIf="!loading && users.length > 0" class="user-list">
      <div *ngFor="let user of users" class="user-card">
        <div class="user-header">
          <p class="name">{{user.name.toUpperCase()}}</p>
          <span class="status" [ngClass]="{'approved': user.status === 'approved', 'pending': user.status === 'pending', 'rejected': user.status === 'rejected'}">
            {{user.status.toUpperCase()}}
          </span>
        </div>
        <div class="user-info">
          <div class="user-details">
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Role:</b> {{user.role}}</p>
          </div>
        </div>
        <div class="actions">
          <button class="approve-btn" (click)="approve(user.email)" [disabled]="user.status === 'approved'">Approve</button>
          <button class="reject-btn" (click)="reject(user.email)" [disabled]="user.status === 'rejected'">Reject</button>
          <button class="msg-btn" (click)="messageUser(user.email)">Message</button>
        </div>
      </div>
    </div>

    <div class="notice-msg">
      <h2>Notice all Users</h2>
      <div class="broadcast-section">
        <button class="chat-btn" (click)="messageAll()">Message All Users</button>
        <p>This message will be broadcasted to every registered user.</p>
      </div>
    </div>
  </div>

  <ng-template #userView>
    <div class="user-panel">
      <h3>User Panel</h3>
      <p>Waiting for admin approval...</p>
    </div>
  </ng-template>
</div>