<div class="dashboard">

  <!-- Header -->
  <div class="dashboard-header">
    <div>
      <h2>Admin Dashboard</h2>
      <p class="role">Role: {{role}}</p>
      <p ><span class="welcome">Welcome, </span>Admin</p>
      <p class="admin-gmail"> admin@gmail.com</p>
    </div>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </div>

  <!-- ADMIN PANEL -->
  <div *ngIf="role === 'Admin'; else userView" class="admin-section">

    <h2 class="section-title">Admin Panel</h2>
    
    <!-- Loading -->
    <div *ngIf="loading" class="info-box">
      Loading users...
    </div>
    
    <!-- No Users -->
    <div *ngIf="!loading && users.length === 0" class="info-box">
      No users found.
    </div>
    <div class="broadcast-section">
      <button class="chat-btn" (click)="messageAll()">
        Message All Users
      </button>
      <p>Here all the messages will be sent to all users</p>
    </div>
    
    <p>The User requests are listed below for your review and approval.</p>
    <!-- USERS -->
    <div *ngIf="!loading && users.length > 0" class="user-list">

      <div *ngFor="let user of users" class="user-card">

        <div class="user-header">
          <!-- <h4>{{user.firstName}} {{user.lastName}}</h4> -->
          <p class="name">{{user.name.toUpperCase()}}</p>

          <span class="status"
            [ngClass]="{
              'approved': user.status === 'approved',
              'pending': user.status === 'pending',
              'rejected': user.status === 'rejected'
            }">
            {{user.status.toUpperCase()}}
          </span>
        </div>
        <div class="user-info">
          <div class="user-details">
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Role:</b> {{user.role}}</p>
          </div>
        </div>

        <!-- 🔥 ACTIONS -->
        <div class="actions">

          <button 
            class="approve-btn"
            (click)="approve(user.email)" 
            [disabled]="user.status === 'approved'">
            Approve
          </button>

          <button 
            class="reject-btn"
            (click)="reject(user.email)" 
            [disabled]="user.status === 'rejected'">
            Reject
          </button>

          <!-- 🔥 NEW MESSAGE BUTTON -->
          <button 
            class="msg-btn"
            (click)="messageUser(user.email)">
            Message
          </button>

        </div>

      </div>

    </div>

  </div>

  <!-- USER PANEL -->
  <ng-template #userView>
    <div class="user-panel">
      <h3>User Panel</h3>
      <p>You are logged in as a User.</p>
      <p>Waiting for admin approval...</p>
    </div>
  </ng-template>

  <!-- 🔥 FOOTER -->


</div>